@using ImpotsTaxes.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>NotePerception</title>
</head>
<body>
    @try
    {
        <div>
            <fieldset>
                <legend>Assujetti</legend>
                <pre>Nom ou Raison Sociale : @Request.Params["nom"]</pre>               
                <pre>Téléphone             : @Request.Params["tel"]</pre>
                <pre>Ville                 : @Request.Params["ville"]</pre>
                <pre>Quartier              : @Request.Params["quartier"]</pre>
                <pre>Avenue                : @Request.Params["avenue"]</pre>
                <pre>Numéro                : @Request.Params["numero"]</pre>
            </fieldset>
          <h3 style="text-align:center">Sélectionner la Note à Migrer</h3>
          
          <table class="table table-border" border="1">
              <tr>
                  <th>Note</th>
                  <th>Date</th>
                  <th>Montant</th>
                  <th>Monnaie</th>
                  <th>Article</th>
                  <th>Libellé</th>
                  <th>Centre / Antenne</th>
                  <th>Afficher la note</th>                  
              </tr>
              @{Liste note = new Liste();}
              @foreach (Assessment notePerc in note.lstNotes(@Request.Params["idPersAS"]))
              {
                     <tr style="font-size:1em">
                         <td>@notePerc.assessment_id</td>
                         <td>@notePerc.assessment_date</td>
                         <td>@notePerc.amount</td>
                         <td>@notePerc.currency</td>
                         <td>@notePerc.tax_id</td>
                         <td>@notePerc.tax_name</td>  
                         <td>@notePerc.entity_name</td> 
                         <td><a href="/Migration/AffichageNote?note=@notePerc.assessment_id">Afficher</a></td>                    
                     </tr>
              }
          </table>

        </div>
    }
    catch (Exception ex)
    {
        <script type="text/javascript">alert('@ex.Message');</script>
    }
</body>
</html>
